/* beautify ignore:start */
/* beautify ignore:end */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
:root {
  --clr-white: rgb(255, 255, 255);
  --clr-offwhite: rgb(250, 250, 250);
  --clr-blue-light: rgb(150, 169, 198);
  --clr-blue-dark: rgb(45, 38, 65);
  --clr-grey-light: rgb(131, 125, 136);
  --clr-grey-dark: rgb(44, 40, 48);
  --clr-accent: rgb(195, 150, 198);
  --header-height: 6.25rem;
  --gap-horizontal: 1.875rem;
  --gap-vertical: 3.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* beautify ignore:start */
/* beautify ignore:end */
.fullheight {
  height: 100%;
}

.mt-tiny {
  margin-top: 1rem !important;
}

.mt-small {
  margin-top: 1.5rem !important;
}

.mt-medium {
  margin-top: 2rem !important;
}

.mt-large {
  margin-top: 2.5rem !important;
}

.mt-huge {
  margin-top: 5rem !important;
}

.divider-top {
  position: relative;
  padding-top: 2.5rem;
}
.divider-top::before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 9.375rem;
  height: 1px;
  background-color: var(--clr-accent);
  content: "";
  transform: translateX(-50%);
}
@media (min-width: 52.5em) {
  .divider-top {
    padding-top: 4rem;
  }
  .divider-top::before {
    left: 0;
    transform: none;
  }
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

.tc-light {
  color: var(--clr-white);
}

.tc-medium {
  color: var(--clr-grey-light);
}

.tc-dark {
  color: var(--clr-grey-dark);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  line-height: 1;
}

.heading-primary {
  font-size: 3rem;
  letter-spacing: -0.67px;
}
@media (min-width: 52.5em) {
  .heading-primary {
    font-size: 3.75rem;
    letter-spacing: -1px;
  }
}
@media (min-width: 68.75em) {
  .heading-primary {
    font-size: 4.5rem;
  }
}

.heading-secondary {
  font-size: 2.5rem;
  letter-spacing: -0.56px;
}
.heading-secondary--large {
  font-size: 3rem;
  letter-spacing: -0.67px;
}

.heading-tertiary {
  font-size: 1.75rem;
  letter-spacing: -0.39px;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.625;
}

.container {
  max-width: 68.75rem;
  margin: 0 auto;
}

/* beautify ignore:start */
/* beautify ignore:end */
.flex {
  display: flex;
}

.column {
  flex: 0 1 100%;
}
@media (min-width: 52.5em) {
  .column-25 {
    max-width: 25%;
  }
  .column-33 {
    max-width: 33.3333%;
  }
  .column-50 {
    max-width: 50%;
  }
}

.fw-wrap {
  flex-wrap: wrap;
}

.gap-vertical {
  row-gap: var(--gap-vertical) !important;
}

.gap-horizontal {
  column-gap: var(--gap-horizontal) !important;
}
@media (min-width: 52.5em) {
  .gap-horizontal .column-25 {
    max-width: calc((100% - var(--gap-horizontal) * 3) / 4);
  }
  .gap-horizontal .column-33 {
    max-width: calc((100% - var(--gap-horizontal) * 2) / 3);
  }
  .gap-horizontal .column-50 {
    max-width: calc((100% - var(--gap-horizontal) * 1) / 2);
  }
}

.ai-center {
  align-items: center;
}

.jc-between {
  justify-content: space-between;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);
  padding: 1.875rem 1.5rem;
  background-color: var(--clr-white);
  z-index: 200;
}

.btn {
  display: inline-block;
  border: 0;
  padding: 0.625rem 2rem;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.btn--large {
  width: 75%;
  max-width: 25rem;
  padding: 0.625em;
  font-size: 1.25rem;
  letter-spacing: 1.35px;
}

.btn-ghost {
  background: transparent;
}
.btn-ghost--light {
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
}
.btn-ghost--light:focus, .btn-ghost--light:hover {
  background-color: var(--clr-white);
  color: var(--clr-grey-dark);
}
.btn-ghost--dark {
  color: var(--clr-grey-dark);
  border: 1px solid var(--clr-grey-dark);
}
.btn-ghost--dark:focus, .btn-ghost--dark:hover {
  background-color: var(--clr-grey-dark);
  color: var(--clr-white);
}

.btn-nav-mobile {
  padding: 0;
}
@media (min-width: 48.75em) {
  .btn-nav-mobile {
    display: none;
  }
}

/* beautify ignore:start */
/* beautify ignore:end */
.card {
  text-align: center;
}
.card__icon {
  margin: 0 auto;
}
@media (min-width: 52.5em) {
  .card {
    text-align: left;
  }
  .card__icon {
    margin: 0;
  }
}

.logo {
  width: 7rem;
}
.logo img {
  display: block;
  max-width: 100%;
}

.nav-desktop {
  display: none;
}
@media (min-width: 48.75em) {
  .nav-desktop {
    display: initial;
  }
  .nav-desktop__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-desktop__item + .nav-desktop__item {
    margin-left: 1.5rem;
  }
  .nav-desktop__link:link, .nav-desktop__link:visited {
    color: var(--clr-grey-light);
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav-desktop__link:focus, .nav-desktop__link:hover {
    color: var(--clr-grey-dark);
  }
}

.nav-mobile {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: calc(100vh - var(--header-height));
  padding: 2.5rem 1.5rem;
  background: url("../images/bg-pattern-mobile-nav.svg") no-repeat bottom center/contain, var(--clr-grey-dark);
  transform: translateY(-100%);
  transition: transform 0.35s ease-out;
  z-index: 100;
}
.nav-mobile.show {
  transform: translateY(0);
}
.nav-mobile__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-mobile__item {
  text-align: center;
}
.nav-mobile__item + .nav-mobile__item {
  margin-top: 1.25rem;
}
.nav-mobile__link:link, .nav-mobile__link:visited {
  display: inline-block;
  color: var(--clr-white);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1.35px;
  line-height: 2;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-mobile__link:focus, .nav-mobile__link:hover {
  color: var(--clr-blue-light);
  outline: 0;
}
@media (min-width: 48.75em) {
  .nav-mobile {
    display: none;
  }
}

/* beautify ignore:start */
/* beautify ignore:end */
.hero {
  padding-top: var(--header-height);
  background: var(--clr-blue-dark);
}
@media (min-width: 52.5em) {
  .hero {
    position: relative;
    padding: calc(var(--header-height) + 10rem) 1.5rem 0;
    background: linear-gradient(0deg, var(--clr-white) 0%, var(--clr-white) 8rem, var(--clr-blue-dark) 8rem, var(--clr-blue-dark) 100%);
    overflow: visible;
  }
  .hero::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: url("../images/bg-pattern-intro-left-desktop.svg");
    transform: translate(-50%, 55%);
  }
}
@media (min-width: 52.5em) and (min-width: 68.75em) {
  .hero::before {
    transform: translate(-25%, 50%);
  }
}
@media (min-width: 52.5em) {
  .hero::after {
    position: absolute;
    top: 0;
    right: 0;
    content: url("../images/bg-pattern-intro-right-desktop.svg");
    transform: translateX(65%);
  }
}
@media (min-width: 52.5em) and (min-width: 68.75em) {
  .hero::after {
    transform: translateX(0);
  }
}
.hero__body {
  position: relative;
  padding: 5.625rem 1.5rem;
  background: url("../images/bg-pattern-intro-left-mobile.svg") no-repeat top left;
  text-align: center;
}
@media (min-width: 52.5em) {
  .hero__body {
    padding: 4rem 0 16rem;
    background: none;
    text-align: left;
  }
  .hero__body::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 9.375rem;
    height: 1px;
    background-color: var(--clr-white);
    content: "";
  }
}
.hero__body > * {
  position: relative;
  z-index: 10;
}
.hero__body::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: url("../images/bg-pattern-intro-right-mobile.svg");
  transform: translateY(55%);
}
@media (min-width: 52.5em) {
  .hero__body::after {
    display: none;
  }
}
.hero__image-container {
  order: -1;
}
@media (min-width: 52.5em) {
  .hero__image-container {
    order: 1;
  }
}
.hero__image--mobile, .hero__image--desktop {
  object-fit: cover;
}
.hero__image--mobile {
  width: 100%;
  max-height: 30rem;
}
@media (min-width: 37.5em) {
  .hero__image--mobile {
    display: none;
  }
}
.hero__image--desktop {
  display: none;
}
@media (min-width: 37.5em) {
  .hero__image--desktop {
    display: initial;
    width: 100%;
    max-height: 30rem;
  }
}
@media (min-width: 52.5em) {
  .hero__image--desktop {
    height: 100%;
    max-height: unset;
  }
}

.features {
  position: relative;
  margin-top: 9.375rem;
  padding: 0 1.5rem;
}

/*# sourceMappingURL=main.css.map */
