@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
:root {
  --clr-white: rgb(255, 255, 255);
  --clr-offwhite: rgb(250, 250, 250);
  --clr-blue-light: rgb(150, 169, 198);
  --clr-blue-dark: rgb(45, 38, 65);
  --clr-grey-light: rgb(131, 125, 136);
  --clr-grey-dark: rgb(44, 40, 48);
  --header-height: 6.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.mt-tiny {
  margin-top: 1rem !important;
}

.mt-small {
  margin-top: 1.5rem !important;
}

.mt-medium {
  margin-top: 2rem !important;
}

.mt-large {
  margin-top: 2.5rem !important;
}

.mt-huge {
  margin-top: 5rem !important;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

.tc-light {
  color: var(--clr-white);
}

.tc-medium {
  color: var(--clr-grey-light);
}

.tc-dark {
  color: var(--clr-grey-dark);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  line-height: 1;
}

.heading-primary {
  font-size: 3rem;
  letter-spacing: -0.67px;
}

.heading-secondary {
  font-size: 2.5rem;
  letter-spacing: -0.56px;
}
.heading-secondary--large {
  font-size: 3rem;
  letter-spacing: -0.67px;
}

.heading-tertiary {
  font-size: 1.75rem;
  letter-spacing: -0.39px;
}

.container {
  max-width: 68.75rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.fw-wrap {
  flex-wrap: wrap;
}

.ai-center {
  align-items: center;
}

.jc-between {
  justify-content: space-between;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);
  padding: 1.875rem 1.5rem;
  background-color: var(--clr-white);
  z-index: 200;
}

.btn {
  display: inline-block;
  border: 0;
  padding: 0;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.btn--large {
  width: 75%;
  max-width: 25rem;
  padding: 0.625em;
  font-size: 1.25rem;
  letter-spacing: 1.35px;
}
.btn--large:focus, .btn--large:hover {
  background-color: var(--clr-white);
  color: var(--clr-grey-dark);
}

.btn-ghost {
  background: transparent;
}
.btn-ghost--light {
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
}

.hamburger__btn-hide {
  display: none;
}

.logo {
  width: 7rem;
}
.logo img {
  display: block;
  max-width: 100%;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: calc(100vh - var(--header-height));
  padding: 2.5rem 1.5rem;
  background: url("../images/bg-pattern-mobile-nav.svg") no-repeat bottom center/contain, var(--clr-grey-dark);
  transform: translateY(-100%);
  transition: transform 0.35s ease-out;
  z-index: 100;
}
.nav-mobile.show {
  transform: translateY(0);
}
.nav-mobile__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-mobile__item {
  text-align: center;
}
.nav-mobile__item + .nav-mobile__item {
  margin-top: 1.25rem;
}
.nav-mobile__link:link, .nav-mobile__link:visited {
  display: inline-block;
  color: var(--clr-white);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1.35px;
  line-height: 2;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-mobile__link:focus, .nav-mobile__link:hover {
  color: var(--clr-blue-light);
  outline: 0;
}

.main {
  position: relative;
  z-index: -10;
}

/*# sourceMappingURL=main.css.map */
