.flex {
    display: flex;
}

//////////////////////////////
// flex-wrap

.fw-wrap {
    flex-wrap: wrap;
}

//////////////////////////////
// align-items

.ai-center {
    align-items: center;
}

//////////////////////////////
// justify-content

.jc-between {
    justify-content: space-between;
}
