/* beautify ignore:start */

@use "../abstracts/variables" as *;

/* beautify ignore:end */

.flex-evenly,
.flex-auto {
	@media (min-width: $tablet) {
		display: flex;
		gap: var(--flex-gap);
	}
}

.flex-evenly > * {
	flex: 1 1 100%;
}

.flex-auto > * {
	flex: 1 1 auto;
}

.flex-item--first {
	order: -1;
}

//////////////////////////////
// align-items

.ai-center {
	align-items: center;
}
