/* beautify ignore:start */

@use "../abstracts/variables" as *;

/* beautify ignore:end */

.footer {
	margin-top: 8.75rem;
	padding: 5.5rem 1.5rem;
	background: url('../images/bg-pattern-footer-mobile.svg') no-repeat center top / contain, var(--clr-offwhite);

	@media (min-width: $tablet) {
		background: url('../images/bg-pattern-footer-desktop.svg') no-repeat top left, var(--clr-offwhite)
	}
}
