.btn {
    display: inline-block;
    border: 0;
    padding: 0;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &--large {
        width: 75%;
        max-width: 25rem;
        margin-top: 0.625em;
        padding: 0.625em;
        font-size: 1.25rem;
        letter-spacing: 1.35px;

        &:focus,
        &:hover {
            background-color: var(--clr-white);
            color: var(--clr-grey-dark);
        }
    }
}

.btn-ghost {
    background: transparent;

    &--light {
        color: var(--clr-white);
        border: 1px solid var(--clr-white);
    }
}
