/* beautify ignore:start */

@use "../abstracts/variables" as *;

/* beautify ignore:end */

.card {
	margin-top: 3.5rem;
	text-align: center;

	&__icon {
		margin: 0 auto;
	}

	@media (min-width: $tablet) {
		text-align: left;

		&__icon {
			margin: 0;
		}
	}
}
