.nav-mobile {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: calc(100vh - var(--header-height));
    padding: 2.5rem 1.5rem;
    background: url('../images/bg-pattern-mobile-nav.svg') no-repeat bottom center / contain, var(--clr-grey-dark);
    transform: translateY(-100%);
    transition: transform 0.35s ease-out;
    z-index: 100;

    &.show {
        transform: translateY(0);
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        text-align: center;

        & + & {
            margin-top: 1.25rem;
        }
    }

    &__link:link,
    &__link:visited {
        display: inline-block;
        color: var(--clr-white);
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: 1.35px;
        line-height: 2;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__link:focus,
    &__link:hover {
        color: var(--clr-blue-light);
        outline: 0;
    }

    @media (min-width: 48.75em) {
        display: none;
    }
}
