/* beautify ignore:start */

@use "../abstracts/variables" as *;

/* beautify ignore:end */

.nav-desktop {
	display: none;

	@media (min-width: $tablet) {
		display: initial;

		&__list {
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		&__item + &__item {
			margin-left: 1.5rem;
		}

		&__link:link,
		&__link:visited {
			color: var(--clr-grey-light);
			font-size: 0.8125rem;
			font-weight: 700;
			letter-spacing: 1.5px;
			text-decoration: none;
			text-transform: uppercase;
		}

		&__link:focus,
		&__link:hover {
			color: var(--clr-grey-dark);
		}
	}
}
