/* beautify ignore:start */

@use "../abstracts/variables" as *;

/* beautify ignore:end */

.social-icons {
	display: flex;
	justify-content: center;
	margin: 2rem 0 0;
	padding: 0;
	list-style: none;

	&__item:not(:first-child) {
		margin-left: 1rem;
	}

	&__link {
		display: block;
		color: var(--clr-grey-light);
		transition: transform 0.25s;

		&:focus,
		&:hover {
			color: var(--clr-grey-dark);
			transform: scale(1.25) translateY(-3px);
		}

		&:focus-visible {
			outline: 0;
		}
	}

	&__icon {
		width: 1.5rem;
		height: 1.5rem;
		fill: currentColor;
	}

	@media (min-width: $tablet) {
		margin: 0;
		justify-content: flex-end;
	}
}
