/* beautify ignore:start */

@use "../abstracts/variables" as *;

/* beautify ignore:end */

//////////////////////////////
// height

.fullheight {
	height: 100%;
}

//////////////////////////////
// margin-top

.mt-tiny {
	margin-top: 1rem !important;
}

.mt-small {
	margin-top: 1.5rem !important;
}

.mt-medium {
	margin-top: 2rem !important;
}

.mt-large {
	margin-top: 2.5rem !important;
}

.mt-huge {
	margin-top: 5rem !important;
}

//////////////////////////////
// Dividers

.divider-top {
	position: relative;
	padding-top: 2.5rem;

	&::before {
		position: absolute;
		top: 0;
		left: 50%;
		width: 9.375rem;
		height: 1px;
		background-color: var(--clr-accent);
		content: '';
		transform: translateX(-50%);
	}

	@media (min-width: $tablet) {
		padding-top: 4rem;

		&::before {
			left: 0;
			transform: none;
		}
	}
}
