/* beautify ignore:start */

@use "../abstracts/variables" as *;

/* beautify ignore:end */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

body {
	font-family: 'Karla', sans-serif;
	font-weight: 400;
}

a:focus-visible {
	outline: 2px dashed var(--clr-grey-dark);
	outline-offset: 3px;
}

//////////////////////////////
// Text Colours

.tc-light {
	color: var(--clr-white);
}

.tc-medium {
	color: var(--clr-grey-light);
}

.tc-dark {
	color: var(--clr-grey-dark);
}

//////////////////////////////
// Headings

.heading-primary,
.heading-secondary,
.heading-tertiary {
	margin: 0;
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
	line-height: 1;
}

.heading-primary {
	font-size: 3rem;
	letter-spacing: -0.67px;

	@media (min-width: $tablet) {
		font-size: 3.75rem;
		letter-spacing: -1px;
	}

	@media (min-width: $desktop) {
		font-size: 4.5rem;
	}
}

.heading-secondary {
	font-size: 2.5rem;
	letter-spacing: -0.56px;

	&--large {
		font-size: 3rem;
		letter-spacing: -0.67px;
	}

	@media (min-width: $tablet) {
		font-size: 3.5rem;
		letter-spacing: -0.78px;

		&--large {
			font-size: 4.5rem;
			letter-spacing: -1px;
		}
	}
}

.heading-tertiary {
	font-size: 1.75rem;
	letter-spacing: -0.39px;
}

//////////////////////////////
// Paragraphs

.paragraph {
	max-width: 55ch;
	font-size: 1rem;
	line-height: 1.625;
}

//////////////////////////////
// Text Alignment

.ta-center {
	text-align: center;

	h1,
	h2,
	h3,
	p {
		margin-left: auto;
		margin-right: auto;
	}
}

.ta-left-tablet {
	@media (min-width: $tablet) {
		text-align: left;

		h1,
		h2,
		h3,
		p {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.ta-right-tablet {
	@media (min-width: $tablet) {
		text-align: right;

		h1,
		h2,
		h3,
		p {
			margin-left: 0;
			margin-right: 0;
		}
	}
}
