:root {
	--clr-white: rgb(255, 255, 255);
	--clr-offwhite: rgb(250, 250, 250);
	--clr-blue-light: rgb(150, 169, 198);
	--clr-blue-dark: rgb(45, 38, 65);
	--clr-grey-light: rgb(131, 125, 136);
	--clr-grey-dark: rgb(44, 40, 48);

	--header-height: 6.25rem;

	--gap-horizontal: 1.875rem;
}
